<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speculate</title>
    <style>
        .search-container{
            display: grid;
            grid-template-columns: 10em 5em;
        }
    </style>
</head>
<body>
    <h1>Speculate</h1>
    <h4>Search for laptop specs</h4>
    <form class="search-container" action="#" th:action="@{/filter}" th:object="${filter}" method="post">
        Version:   <input type="text" th:field="*{version}" />
        Rating:    <input type="text" th:field="*{rating}" value="0" />
        Thickness: <input type="text" th:field="*{thickness}"/>
        Weight:    <input type="text" th:field="*{weight}" />
        Load temp: <input type="text" th:field="*{max_temperature_load}" />
        Idle temp: <input type="text" th:field="*{max_temperature_idle}" />
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </form>
</body>
</html>