<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speculate</title>
    <style>
        .search-container{
            display: grid;
            grid-template-columns: 10em 5em;
        }
    </style>
</head>
<body>
    <h1>Speculate</h1>
    <h4>Search for laptop specs</h4>
    <form class="search-container" action="#" th:action="@{/laptop}" th:object="${filter}" method="post">
        Weight:    <input type="text" th:field="*{weight}" />
        Thickness: <input type="text" th:field="*{thickness}"/>
        Load temp: <input type="text" th:field="*{max_temperature_load}" />
        Idle temp: <input type="text" th:field="*{max_temperature_idle}" />
        Battery Runtime: <input type="text" th:field="*{battery}"/>
        Coverage sRGB: <input type="text" th:field="*{sRGB}"/>
        Coverage Adobe RGB: <input type="text" th:field="*{adobeRGB}"/>
        Coverage P3: <input type="text" th:field="*{p3}"/>
        Brightness: <input type="text" th:field="*{brightness}"/>
        Response: <input type="text" th:field="*{response}"/>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </form>
</body>
</html>