<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speculate</title>
    <style>
        th {
            background-color: #8080807a;
        }
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        td p {
            margin: 0px;
        }
        td a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Speculate</h1>
    <h4><span th:text="${laptops.size()}" /> search results:</h4>
    <table>
        <tbody>
            <tr>
                <th>Laptop Model</th>
                <th>Battery (mins)</th>
                <th>Coverage sRGB</th>
                <th>Coverage Adobe RGB</th>
                <th>Coverage P3</th>
                <th>Brightness</th>
                <th>Response (ms)</th>
                <th>Max Temp Load (°C)</th>
                <th>Max Temp Idle (°C)</th>
                <th>Laptop Weight (kg)</th>
                <th>Year</th>
            </tr>
            <tr th:each="laptop: ${laptops}">
                <td><a target="_blank" th:href="@{('/laptop/' + ${laptop.id})}"><p th:text="${laptop.model}"  /></a></td>
                <td th:text="${laptop.battery}" />
                <td th:text="${laptop.coverageSRGB}" />
                <td th:text="${laptop.coverageAdobeRGB}" />
                <td th:text="${laptop.coverageP3}" />
                <td th:text="${laptop.brightness}" />
                <td th:text="${laptop.responseGG}" />
                <td th:text="${laptop.maxTemperatureLoad}" />
                <td th:text="${laptop.maxTemperatureIdle}" />
                <td th:text="${laptop.weight}" />
                <td th:text="${laptop.reviewDate}" />
            </tr>
        </tbody>
    </table>
</body>
</html>