<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speculate</title>
    <style>
        nav > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/filter">Filter</a></li>
            <li><a href="/compare">Compare</a></li>
            <li><a href="/laptop">Laptops</a></li>
        </ul>
    </nav>
    <main>
        <h4>Speculate</h4>
        <p>Bechmark up to 3000 Laptops</p>
    </main>

</body>
</html>