<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speculate</title>
    <style>
        th {
            background-color: #8080807a;
        }
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        td p {
            margin: 0px;
        }
        td a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Speculate</h1>
    <div>Model: <a th:href="${laptop.link}"><p th:text="${laptop.model}" /></a></div>
    <table>
        <tbody>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Battery</td>
                <td th:text="${laptop.battery}" />
            </tr>
            <tr>
                <td>Brightness</td>
                <td th:text="${laptop.brightness}" />
            </tr>
            <tr>
                <td>Brightness Distribution</td>
                <td th:text="${laptop.brightnessDist}" />
            </tr>
            <tr>
                <td>Contrast</td>
                <td th:text="${laptop.contrast}" />
            </tr>
            <tr>
                <td>Contrast</td>
                <td th:text="${laptop.contrast}" />
            </tr>
            <tr>
                <td>Adobe RGB</td>
                <td th:text="${laptop.coverageAdobeRGB}" />
            </tr>
            <tr>
                <td>sRGB</td>
                <td th:text="${laptop.coverageSRGB}" />
            </tr>
            <tr>
                <td>P3</td>
                <td th:text="${laptop.coverageP3}" />
            </tr>
        </tbody>
        </tbody>
    </table>
</body>
</html>