<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speculate</title>
    <style>
        th {
            background-color: #8080807a;
        }
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Speculate</h1>
    <h4>Search results:</h4>
    <table>
        <tbody>
            <tr>
                <th>Laptop Model</th>
                <th>Laptop Rating</th>
                <th>Laptop Thickness</th>
                <th>Laptop Weight</th>
                <th>Laptop Version</th>
                <th>Max Temp Load</th>
                <th>Max Temp Idle</th>
            </tr>
            <tr th:each="laptop: ${laptops}">
                <td th:text="${laptop.model}" />
                <td th:text="${laptop.rating}" />
                <td th:text="${laptop.thickness}" />
                <td th:text="${laptop.weight}" />
                <td th:text="${laptop.reviewVersion}" />
                <td th:text="${laptop.maxTemperatureLoad}" />
                <td th:text="${laptop.maxTemperatureIdle}" />
            </tr>
        </tbody>
    </table>
</body>
</html>